<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="h-title">
          <h4>Change your password</h4>
          <span class="h-underline"></span>
        </div>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field greybox">
            <%= f.label :password, "New password" %><br />
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
          </div>

          <div class="field greybox">
            <%= f.label :password_confirmation, "Confirm new password" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions devise-btn-lrg reset">
            <%= f.submit "CHANGE MY PASSWORD" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
